@page
@model GroupProjectBySelf.Pages.Seller.SuccessPage.CreateSuccessModel
@{
    ViewData["Title"] = "Product Created Successfully";
}

<h2>@ViewData["Title"]</h2>

<p>Your product has been created successfully.</p>

<div>
    <a asp-page="/Seller/ManageProduct/ViewOwnProduct">Back to List</a>
</div>
<div>
    <a asp-page="/Seller/ManageProduct/CreateProduct">Continuous create Product</a>
</div>
