@page
@model GroupProjectBySelf.Pages.Seller.SuccessPage.DeleteSuccessModel
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Seller")]
@{
    ViewData["Title"] = "Delete Success";
}

<h2>@ViewData["Title"]</h2>

<p>The product has been successfully deleted.</p>

<a asp-page="/Seller/ManageProduct/ViewOwnProduct" class="btn btn-primary">Back to Product List</a>
