@page
@model fues_prn221_chiennguyensrdn.Pages.Account.RegisterSuccessModel
@{
    ViewData["Title"] = "Register Success";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Registration Successful!</h4>
    <p>You have successfully registered. Please <a asp-page="/Account/Login">login</a> to continue.</p>
</div>
